<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<appSettings>
		<add key ="num" value="7"/>
		<add key="alias_1" value="v-deanm@microsoft.com" />
		<add key="alias_2" value="v-camcl@microsoft.com" />
		<add key="alias_3" value="v-daclab@microsoft.com" />
		<add key="alias_4" value="v-smjame@microsoft.com" />
		<add key="alias_5" value="v-beche@microsoft.com" />
		<add key="alias_6" value="v-saivre@microsoft.com" />
		<add key="alias_7" value="v-cupa@microsoft.com" />
	</appSettings>
	
</configuration>